.w-100 {
    width: 40%!important;
}
._1JwaBMUCMsc8QmGrT7DX45 {
    top: 109%
}
.about-us-parg
{
    padding: 2%;
    font-family: sans-serif;
}
.about-us-title
{
font-size: 250%;
font-family: fantasy}