.card-title{
    font-size: 200% ;
      width: 38% ;
    
      line-height: 141%;
      
  }
  #exampleregion{
    width: 49%;
    height: 52px;
    margin-top: -4%;
    margin-left: -1%;
  }
  .tilte-header-container{
    font-size: 140%;
    font-family: fantasy;
    margin-top: 25%!important;

}
  