.card-img-overlay .card-title{
    font-size: 200% ;
      width: 38% ;
    
      line-height: 141%;
      
  }
  #exampleregion{
    width: 49%;
    height: 52px;
    margin-top: -4%;
    margin-left: -1%;
  }
  .tilte-header-container{
    font-size: 140%;
    font-family: fantasy;
    margin-top: 25%!important;

}
@media only screen and (max-width:900px) {
  .tilte-header-container{
 
    font-size: 66%;}
    .card-title {
    font-size: 39px;}
  }
  @media only screen and (max-width:900px) {
    .tilte-header-container{
 
      font-size: 50%;}}
  