.promotype{
    text-align: center;
    font-size: 120%;
    color: teal;
transition: transform .2s; /* Animation */
}
.promotype:hover {
    transform: scale(1.5)}
Button:hover {
    background-color: black;
    color: white; 
    
}

.nameofgym{
    
        text-align: center;
        font-family: sans-serif;
        color: dimgray;
 } 
 .btn-default {
    background-color: teal !important;}

.section-promotion-event{
    padding: 4%;
}
.btn-participation
{
    font-size: 98% !important;

}