.MuiInput-underline-32:before {
    
    padding: 10%;}
.MuiFormLabel-root-14 {
    color:black!important;
}
    .MuiSelect-icon-27 {
        color: black!important;
    }

    .MuiInput-input-36{
        color: black;

    }

    .ui.icon.input>i.circular.icon {
        top: 0.55em;
    }