.MuiInput-underline-32:before {
    
    padding: 10%;}
.MuiFormLabel-root-14 {
    color:black!important;
}
    .MuiSelect-icon-27 {
        color: black!important;
    }

    .MuiFormControl-root-3{
    background-color: 	#E0E0E0
    }
    .MuiInput-input-36{
        color: black;

    }
    
    